<p>{{bs-input type="text" value=value placeholder="Search by last name"}}</p>

{{#if isLoading}}
  {{fa-icon "refresh" spin=true}}
{{else}}
  {{#if results}}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <caption>Showing {{results.length}} voters</caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Voter ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each results as |voter|}}
          <tr>
            <td>{{voter.firstname}}</td>
            <td>{{voter.lastname}}</td>
            <td>{{voter.fulladdress}}</td>
            <td>{{voter.voterid}}</td>
            <td>
              {{#if voter.hasSigned}}
                <button class="btn btn-success btn-block" {{action 'markAsUnsigned' voter}}>{{fa-icon "times"}} Mark Not Signed</button>
              {{else}}
                <button class="btn btn-primary btn-block" {{action 'markAsSigned' voter}}>{{fa-icon "check"}} Mark Signed</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    {{#if value}}
       <p>No voters found for "{{value}}"</p>
    {{/if}}
  {{/if}}
{{/if}}

