<ol class="breadcrumb">
  <li>{{#link-to 'campaigns'}}Campaigns{{/link-to}}</li>
  <li class="active">Campaign: {{model.title}}</li>
</ol>

<div class="site-content--inset">
  <h3>{{model.title}}</h3>

{{!--   <p class="text-muted">
    <strong>Start:</strong> {{model.start}} | <strong>End</strong> {{model.end}}
  </p> --}}

  <p><strong>Description:</strong> {{model.description}}</p>

  <h4>Search Voters</h4>

  <p>{{debounced-input type="text" value=search placeholder="Enter last name" class="form-control"}}</p>

</div>

{{#if isLoading}}
  <div style="text-align:center;">
    {{fa-icon "refresh" spin=true classNames="fa-4x text-muted"}}
  </div>
{{else}}
  {{#if sortedResults}}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <caption>Showing {{sortedResults.length}} voters</caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Voter ID</th>
          <th>Status <small class="text-muted">(Click to change)</small></th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedResults as |voter|}}
          <tr class={{if voter.hasSigned "success"}}>
            <td>{{voter.firstname}}</td>
            <td>{{voter.lastname}}</td>
            <td>{{voter.fulladdress}}</td>
            <td>{{voter.id}}</td>
            <td>
              {{#if voter.hasSigned}}
                <button class="btn btn-success btn-block" {{action 'markAsUnsigned' voter}}>{{fa-icon "check"}} Signed</button>
              {{else}}
                <button class="btn btn-default btn-block" {{action 'markAsSigned' voter}}>{{fa-icon "times"}} Not Signed</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    {{#if value}}
       <p>No voters found for "{{value}}"</p>
    {{/if}}
  {{/if}}
{{/if}}