<ol class="breadcrumb">
  <li>Profiles</li>
  <li class="active">{{model.fname}} {{model.lname}}</li>
</ol>

{{#if model}}
<div class="site-content--inset">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{model.photo}}" alt="" class="img-responsive">
    </div>
    <div class="col-sm-9">
      <h3>{{model.fname}} {{model.lname}}</h3>
      <p><button class="btn btn-danger" {{action 'removeFriend' model}}>Remove Friend</button></p>
    </div>
  </div>
</div>
{{else}}
  <p>Friend not found!</p>
{{/if}}